*{
    margin: 0;
}

/* Hiding Scrollbar */
body::-webkit-scrollbar {
    display: none;
}
  
.body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
/* Hiding Scrollbar */

header{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-header{
    margin-left: 20px;
}

.right-header{
    margin-right: 20px;
}

#hamburger-icon{
    width: 50px;
    height: 50px;
}

.dropdown-button{
    background-color: inherit;
    border-color: inherit;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    display: none;
    z-index: 1;
}

.dropdown-content a{
    padding: 15px 20px;
    display: block;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-content a:hover{
    background-color: yellow;
}

#logo{
    width: 170px;
    height: 50px;
    margin-left: 10px;
}

#playnow-hl{
    font-size: 20px;
    padding: 5px 10px 5px 10px;
    background-color: yellow;
}

#playnow-hl:hover{
    color: yellow;
    background-color: #2d3a67;
}

.slider-section{
    max-width: 100%;
    height: 500px;
    justify-content: center;
    display: flex;
    grid-template-columns: repeat(3, 1fr);
}

#next, #prev{
    border: none;
    background: none;
    font-size: 2em;
}

#next:hover, #prev:hover{
    cursor: pointer;
}

.slider-images{
    display: flex;
    width: 100%;
    overflow: hidden;
}

.slider-images img{
    width: 780px;
    height: 500px;
}

.slider-images{
    display: flex;
    width: 780px;
}

.information-section{
    width: 100%;
    height: 100%;
    align-content: center;
}

.register-section {
    display: flex;
    justify-content: center;
}

.register-section form {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#register-feedback {
    display: none;
}

.screenshot-images, .character-info{
    display: grid;
    margin: 10px;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    column-gap: 10px;
}

.screenshot-images img{
    width: 100%;
}

.character-info div img{
    width: 250px;
    height: 300px;
    border-style: solid;
}

.character-info div{
    display: flex;
    gap: 5px;
    width: 100%;
    justify-content: space-evenly;
}

.character-text{
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-self: flex-start;
}

.info{
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
}

.left-information, .right-information{
    max-width: 40%;
}

footer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-hl-container{
    display: flex;
}

.margin-lr{
    margin-left: 25px;
    margin-right: 25px;
}

.unused-hl:hover{
    color: yellow;
}

.text-decoration-none{
    text-decoration: none;
}

.bg-blue{
    background-color: #6ac0f3;
}

.text-align-center{
    text-align: center;
}

.font-helvetica{
    font-family: Helvetica;
}

.text-bold{
    font-weight: bold;
}

.text-blue{
    color: #2d3a67;
}

.text-size-big{
    font-size: 3em;
}

.text-size-small{
    font-size: 1.5em;
}

.padding-tb{
    padding-top: 25px;
    padding-bottom: 25px;
}

@media screen and (max-width:800px){
    .info{
        margin-left: 25px;
        margin-right: 25px;
        flex-direction: column;
    }

    .info-title{
        font-size: 2em;
    }

    .left-information, .right-information{
        max-width: 100%;
    }

    .right-information{
        margin-top: 25px;
    }

    footer div, footer p{
        font-size: 0.75em;
    }

    .screenshot-images, .character-info{
        grid-template-columns: repeat(1, 100%);
    }


}

/* Event CSS */

.event-list {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap ;
    justify-content: center;
    padding: 20px;
}

.event {
    display : flex;
    flex-direction: column;
    width: 310px;
    height: 410px;
    padding : 15px;
}

.event-img {
    display: flex;
    width: 100%;
    height: 50%;
}

.event-title {
    padding-top : 5px; 
    padding-bottom : 5px;
    font-family: Helvetica, sans-serif;
}

.event-date-type{
    padding-top: 10px;
    padding-bottom: 0px;
    color: rgb(73, 120, 135) ;
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.post-content {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100%;
    padding-bottom: 15px;
    padding-top: 5px;
}

